.cff{
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #head{
    text-align: center;
    font-size: 180%;
     margin-bottom: auto;
    font-weight: 600;
    font-family: Manrope,sans-serif;
    letter-spacing: 0;
    color:rgb(157, 106, 55);
    border-bottom: 100px;


  }