.walletUpperDiv{
    background-image: url("wallet-balance-bg.png");
    padding:3%;
}
.firstdiv .nextui-c-eFfoBo {
    padding-left:0px;
    padding-right: 0px;
}
.walletMiddleDiv{
    padding:3%;
}
.wallet-div1{
    width:80vw;

}
@media screen and (max-width: 1030px) {
    .wallet-div1{
        width:100vw;
    
    }

  }
@media screen and (max-width: 311px) {
    .walletUpperDiv{
        display: flex;
        flex-direction: column;
        gap:10px;
    
    }

  }