.baf{
    box-sizing: border-box;
}
.column1 {
    float: left;
    width: 33%;
    /* height: 150%; */
    margin-left: 30px;
    margin-top:30px;
    padding: 5px;
    margin-right: 15px;
    height: 180%;
   border-radius: 10%;
   border-bottom: 7px solid red;
  }
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    30% {
      transform: translate(-1px, -2px) rotate(-5deg);
    }
    60% {
      transform: translate(-3px, 0px) rotate(0deg);
    }
    90% {
      transform: translate(3px, 2px) rotate(5deg);
    }
    100% {
      transform: translate(1px, -1px) rotate(0deg);
    }
  }
  
  .column1:hover {
    animation: shake 0.5s;
    animation-iteration-count: 2;
  }
  .column1:hover{
    background-color: bisque;
  }
  .column2:hover {
    animation: shake 0.5s;
    animation-iteration-count: 2;
  }
  .column2:hover{
    background-color: bisque;
  }
  .row1{
    height: auto;
  }
  .column1 {
    border-left:2px solid black;
  
   margin-bottom: 10px;

  }
  .column2{
    border-left:2px solid black;
    height: auto;
    border-bottom: 7px solid red;

  }

  .column11 {
    float: left;
    width: 33%;
    margin-left: 30px;
    padding: 3px;
   
  }
  .column2 {
    float: left;
    width: 33%;
    padding: 5px;
    margin-top:30px;
    margin-right: 15px;
    border-radius: 10%;

  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  .row3::after {
    content: "";
    clear: both;
    display: table;
  }
  .row4::after {
    content: "";
    clear: both;
    display: table;
  }
  /* .row5::after {
    content: "";
    clear: both;
    display: table;
  } */
  .head{
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top:25px;
  }
  .headd{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 600;
    font-weight: 300;
  }
  .column2 ul {
    line-height: 2.5em;
    float: height;
    margin-left: 5px;
  }
  .column1{
    background-color:rgb(238, 238, 238);
  }
  .column2{
    background-color:rgb(238, 238, 238)
  }
  .column22 {
    float: left;
    width: 33.33%;
    padding: 3px;
    margin-left:11px;
   
  }
  .column1 ul {
    line-height: 2.5em;
    float: left;
  }
  .head2{
    /* text-align: center; */
    margin-left: 30px;
    font-size: 250%;
     margin-bottom: auto;
    font-weight: 900;
    font-family: Manrope,sans-serif;
    letter-spacing: 0;
    color:rgb(0, 0, 0);
    border-bottom: 100px;


  }
  .row3 ul{
    margin-left: 30px;
    line-height:1.5rem;
    margin-bottom: 30px;
  }
.ro3_col1{
    display:flex;
    flex-direction: row;
    /* padding: 5%; */
    justify-content: space-between;
    width:69%;
    margin-top: 18px;

}
 /* .row4{
    margin-left: 30px;
    margin-bottom: 25px;
    width:67.5%
     
 
}  */
/* .row5 {
    width:33.33%;
     height:60%; 
    margin-left: 30px;
    margin-bottom: 25px;
} */
.column {
    float: left;
    width: 33.33%;
    height: 120%;
    padding: 2px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10%;

  }
  #head3{
    margin-left: 30px;
     margin-bottom: 10px;
    font-weight: 900;
    font-family: Manrope,sans-serif;
    letter-spacing: 0;
    color:rgb(0, 0, 0);
    border-bottom: 100px;
    font-size:250%;
  }
.row5{
    display: flex;
    height:100%;
}
.head4{
    margin-top: 7px;
    margin-bottom: 12px;
    font-weight: 900;
    font-size: larger;
}
.p1{
    font-weight: 500;
    color:gray;
    font-size: medium;
}
.pic{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 6px;
    margin-top: 5px;
}