@media screen and (max-width: 970px) {
    .main-div-here{
        height:auto;
        width:90vw;
        margin:0px;
    }
    .img-div{
        height: 30vh;
        width: 30vw;
    }
  }

  @media screen and (max-width: 690px) {
    .img-div{
        height: 30vh;
        width: 50vw;
    }
  }
  @media screen and (max-width: 500px) {
    .img-div{
        height: 20vh;
        width: 50vw;
    }
  }

  @media screen and (max-width: 400px) {
    .container-product{
        display: flex;
        flex-direction: column;
    }
  }