/* Productlist.*/
.sort_filter {
  margin-top: 10px;
}
.main_product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  padding-left: 5%;
  padding-right: 5%;
  gap: 2%;
  padding-top: 2%;
  grid-row-gap: 6%;
}

.main_product > * {
  margin: auto;
  border-top: 2px solid black;
}

.product_card {
  transition: transform 0.2s;
  padding-bottom: 3%;
}
.product_card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.1);
}

.main_product:hover .product_card {
  opacity: 1;
  /* filter: blur(2px); */
}

.main_product .product_card:hover {
  opacity: 1;
  filter: blur(0px);
  cursor: pointer;
  background-color: rgb(236, 231, 224);
  color: #ff4742;
}
#h {
  color: rgb(180, 24, 24);
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#d {
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
}
#deal {
  color: green;
}
#stack {
  margin-left: 2%;
}
#price {
  border: none;
  border-radius: 5px;
  background-color: rgb(9, 9, 79);
  color: #ffffff;
  padding-left: 5%;
  margin-right: auto;
  padding-right: 5%;
}

/* Sort*/
.div1filter {
  display: flex;
  padding-left: 3%;
  width: -webkit-fill-available;
  padding-right: 9%;
  gap: 2%;
}

.div1sort {
  display: flex;
  padding-right: 2%;
  width: -webkit-fill-available;
  padding-left: 24%;
}

.sort_div {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 1%;
  justify-content: center;
  gap: 3%;
}
.sort_div div {
  border: none;
}
.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}
#filter_div {
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  /* text-align: center; */
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
#sort_head {
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  /* text-align: center; */
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
#sort_option {
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 8px 7px;
  border-radius: 7px;
  color: #ff4742;
}
#swatch_div {
  position: relative;
}
#brand_div {
  position: relative;
}
#margin_div {
  position: relative;
}

/* Checkbox*/
.checkbox_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3%;
  gap: 2%;
  padding-bottom: 3%;
}
.title {
  /* height: 100%;
  width: 170px;
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 194, 194);
  border-radius: 5px;
  box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
  transition: 0.3ms; */
  display: grid;
  background-color: rgb(195, 194, 194);
  border-radius: 5px;
  box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
  width: 24%;
}

.title:hover {
  border: 3px solid black;
}

.checkboxLabel {
  display: flex;
  margin-left: 4.5%;
  cursor: pointer;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
input[type="checkbox"]:after {
  position: absolute;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f111";
  font-size: 22px;
  top: 10px;
  left: 10px;
  color: black;
}

input[type="checkbox"]:checked:after {
  font-weight: 900;
  content: "\f058";
  color: rgb(3, 2, 1);
}

/* label .fas {
  font-size: 60px;
}
label .fi {
  font-size: 60px;
}
input[type="checkbox"]:checked + label .fas {
  animation: grow 0.5s;
}
@keyframes grow {
  50% {
    font-size: 80px;
  }
} */
#desc {
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #7b7b93;
  padding-left: 8%;
}
#name {
  padding-left: 9%;
  color: black;
  padding-top: 6%;
}

#checkIcon {
  margin-left: 44px;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .main_product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    padding-left: 5%;
    padding-right: 5%;
    gap: 2%;
    padding-top: 2%;
  }
}

@media only screen and (max-width: 1040px) {
  .main_product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    padding-left: 5%;
    padding-right: 5%;
    gap: 2%;
    padding-top: 2%;
  }
}

@media only screen and (max-width: 1181px) {
  .div1filter {
    display: flex;
    width: -webkit-fill-available;
    padding-right: 0%;
    gap: 2%;
  }
  .div1sort {
    display: flex;
    width: -webkit-fill-available;
    padding-left: 0%;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 700px) {
  #filter_div,
  #sort_head {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .div1filter {
    display: none;
  }
  .div1sort {
    padding-right: 24%;
  }
}

@media only screen and (max-width: 330px) {
  .div1sort {
    padding-right: 20%;
  }
}

@media only screen and (max-width: 341px) {
  .div1sort {
    padding-right: 20%;
  }
}

@media only screen and (max-width: 341px) {
  .div1sort {
    padding-right: 15%;
  }
}

@media only screen and (max-width: 469px) {
  #name,
  #desc {
    display: none;
  }
  .title {
    background-color: transparent;
  }
  .checkbox_div {
    gap: 10%;
    box-shadow: none;
  }
}
