.shopbestseller {
    font-family: sans-serif;
    text-align: center;
  }
  #head{
    text-align: center;
    font-size: 200%;
     margin-bottom: auto;
    font-weight: 600;
    font-family: Manrope,sans-serif;
    letter-spacing: 0;
    color:rgb(157, 106, 55);
    border-bottom: 100px;


  }