@media screen and (max-width: 1126px) {
    .categories{
        display:none;
    }
  }

@media screen and (max-width: 1051px) {
    .signup{
        display:none;
    }
    .searchbar{
        display:none;
    }
    .right-div-navbar{
        margin-right:-60px;

    }
    .categories-div{
        display:none;
    }
  }
@media screen and (min-width: 1051px) {
    .hamburger{
        display:none;
    }
    .hamburger-icon {
        display:none;
       
        
    }
  }
@media screen and (max-width:  834px) {
    .pclogo{
        display: none;
    }
    .mobile-logo{
        visibility: visible;
        display:flex;
        justify-content: center ;
        align-items: center;  
        margin-left: -40px;
    }
   
}
@media screen and (min-width:  834px) {
    .mobile-logo{
        display: none;
    }
}
@media screen and (max-width:  520px) {
    .user-div{
        display: none;
    }
}